<form method="post" action="/users/<%= current_user.id %>/questions">
    <input type=text placeholder="Ask a question" name="question"><br>
    <input type=submit value="Submit">
</form>

<h3>#return an HTML form for creating a 
#new question belonging to a specific user</h3>